* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: 'Segoe UI';
  }
  .nav {
    width: 100%;
    height:60px;
    display: flex;
    align-items: center;
  }
  .nav-title img{
    width: 100px;
    height: 100px;
    margin-top: 15px;
  }
.nav-btn label{
    color: #000;
}
  .nav > .nav-header {
    flex: 0.95;
    padding-left: 1rem;
  }
  .nav > .nav-header > .nav-title {
    font-size: 22px;
    color: #000;
  }
  .nav > .nav-list {
    display: flex;
    gap: 2rem;
  }
  .nav > .nav-list > li {
    list-style-type: none;
  }
  .nav > .nav-list > li a {
    text-decoration: none;
    cursor: pointer;
    color: #000;

  }
  .nav > .nav-list > li a:hover{
 color: #0c3cfd;
  }
  .nav > #nav-check {
      display: none;

  }

  .nav-list li{
    padding-top: 25px;
  }
  
  .nav-list li button{
  background: linear-gradient(to bottom right, #0c3cfd, #2383f8);
  border: 0;
  border-radius: 16px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  
}

.nav-list li button:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgb(65, 163, 255), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.nav-list li button:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(65, 163, 255), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
  







  @media (max-width: 480px) {
    .nav {
      padding: 1rem;
    }
    .nav-title img{
        width: 80px;
        height: 80px;
    }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
      padding-top: 0.2rem;
    }
    .nav > .nav-list > li a {
        text-decoration: none;
        cursor: pointer;
        color: white;
    
      }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
      padding-top: 40px;

    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #0c3cfd;
      ;
      

    }
    .nav > .nav-list {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      height: 0;
      transition: all 0.3s ease-in;
      top: 100px;
      right: 0;
      overflow: hidden;
      background-color:#2383f8;
    

      width: 200px;

    }
    .nav > .nav-list > li {
      width: 100%;
      margin-top: 1.5rem;
    }
    .nav > #nav-check:checked ~ .nav-list {
      height: calc(100vh - 50px);
    }
  
  }


  .Header-first{
    display: flex;
  }

  .Title-head h2{
     font-size: 50px;
     font-weight: 700;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     margin-left: 50px;
  }

  .Title-para p{
 margin-left: 50px;
 margin-top:70px ;
 font-weight: 400;
 font-size: 19px;
 color: #696C73;
  }
  .Title-Button button{
    background: linear-gradient(to bottom right, #0c3cfd, #5fc2f8);
    border: 0;
    border-radius:22px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    margin-top: 50px;
    margin-left: 50px;
    padding-left: 40px;
    padding-right: 40px;
    
    
  }
  
  .Title-Button button:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgb(65, 163, 255), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }
  
  .Title-Button button:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(65, 163, 255), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }

  .Title-image img{
    width: 550px;
    height: 450px;
    margin-left: 70px;
  }

  @media screen and (max-width:480px) {
    .Header-first{
        display: block;
    }
    .Title-image img{
        width: 250px;
        height: 200px;
        margin-top: 80px;
    }
    .Title-head h2{
        font-size: 40px;
    }
    .Title-Button button{
margin-left: 100px;
    }
  }
  
  
  